.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 400px;
  background-color: rgb(58, 58, 58);
}
.inner-container {
  position: relative;

  height: 70px;
  width: 200px;
  background-color: gold;
}
.circle {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(58, 58, 58);
  position: absolute;
  left: -34px;
  bottom: 0px;
}
.circle1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(58, 58, 58);
  position: absolute;
  left: -17px;
  bottom: -69px;
}
.circle2 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(58, 58, 58);
  position: absolute;
  left: 58px;
  bottom: -71px;
}

.circle3 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(58, 58, 58);
  position: absolute;
  right: -29px;
  bottom: -63px;
}

.circle4 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: rgb(58, 58, 58);
  position: absolute;
  right: -34px;
  bottom: 0px;
}
.ractaangle {
  height: 29px;
  width: 17px;
  left: 73px;
  position: absolute;
  background-color: rgb(58, 58, 58);
}
.ractaangle1 {
  height: 29px;
  width: 17px;
  right: 73px;
  position: absolute;
  background-color: rgb(58, 58, 58);
}

